<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.direct.mapper.paragraphWzMapper" >
  <resultMap id="BaseResultMap" type="com.direct.model.paragraphWz" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="currentPar" property="currentpar" jdbcType="VARCHAR" />
    <result column="par" property="par" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="trainer" property="trainer" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, currentPar, par, type, price, trainer
  </sql>
  <!--添加 start-->
  <!--查询所有-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from paragraph_1
  </select>
  <!--查询所有段位-->

  <!--添加 end-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paragraph_1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paragraph_1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.direct.model.paragraphWz" >
    insert into paragraph_1 (id, currentPar, par, 
      type, price, trainer)
    values (#{id,jdbcType=INTEGER}, #{currentpar,jdbcType=VARCHAR}, #{par,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{price,jdbcType=INTEGER}, #{trainer,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.direct.model.paragraphWz" >
    insert into paragraph_1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="currentpar != null" >
        currentPar,
      </if>
      <if test="par != null" >
        par,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="trainer != null" >
        trainer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="currentpar != null" >
        #{currentpar,jdbcType=VARCHAR},
      </if>
      <if test="par != null" >
        #{par,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="trainer != null" >
        #{trainer,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.direct.model.paragraphWz" >
    update paragraph_1
    <set >
      <if test="currentpar != null" >
        currentPar = #{currentpar,jdbcType=VARCHAR},
      </if>
      <if test="par != null" >
        par = #{par,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="trainer != null" >
        trainer = #{trainer,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.direct.model.paragraphWz" >
    update paragraph_1
    set currentPar = #{currentpar,jdbcType=VARCHAR},
      par = #{par,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      price = #{price,jdbcType=INTEGER},
      trainer = #{trainer,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>